In [1]:
import pandas as pd
from assign_unique_ids_functions import *
pd.options.display.max_columns = 999

In [2]:
df = pd.read_csv('../input/cpd-employees.csv.gz')

In [3]:
df.head()

,star2,star3,appointed_date,resignation_date,star8,current_status,star5,star10,race,star1,current_unit,rank_no,current_rank,birth_year,gender,current_age,unit_description,star9,star6,star7,star4,first_name,last_name_NS,first_name_NS,last_name,middle_initial,middle_initial2,suffix_name
0,1424.0,NaN,2005-09-26,NaN,NaN,1,NaN,NaN,WHITE,13001.0,16.0,9171,SERGEANT OF POLICE,1971.0,MALE,46.0,DISTRICT 016,NaN,NaN,NaN,NaN,JEFFERY,AARON,JEFFERY,AARON,M,NaN,NaN
1,13705.0,NaN,2005-09-26,NaN,NaN,1,NaN,NaN,HISPANIC,17545.0,15.0,9161,POLICE OFFICER,1980.0,FEMALE,36.0,DISTRICT 015,NaN,NaN,NaN,NaN,KARINA,AARON,KARINA,AARON,NaN,NaN,NaN
2,3023.0,2628.0,1970-06-15,2004-02-15,NaN,0,NaN,NaN,WHITE,14535.0,543.0,9161,POLICE OFFICER,1942.0,MALE,75.0,DETACHED SERVICES - MISCELLANEOUS DETAIL,NaN,NaN,NaN,NaN,DANIEL,ABATE,DANIEL,ABATE,P,NaN,NaN
3,NaN,NaN,1969-01-06,2003-08-15,NaN,0,NaN,NaN,WHITE,20484.0,640.0,9165,PO AS DETECTIVE,1942.0,MALE,74.0,DETECTIVE SECTION - AREA 4,NaN,NaN,NaN,NaN,CARMEL,ABBATE,CARMEL,ABBATE,G,NaN,NaN
4,NaN,NaN,1954-10-16,1993-06-04,NaN,0,NaN,NaN,WHITE,NaN,25.0,9171,SERGEANT OF POLICE,1930.0,MALE,86.0,DISTRICT 025,NaN,NaN,NaN,NaN,CARMEN,ABBATE,CARMEN,ABBATE,S,NaN,NaN

In [4]:
df.columns

Index(['star2', 'star3', 'appointed_date', 'resignation_date', 'star8',
       'current_status', 'star5', 'star10', 'race', 'star1', 'current_unit',
       'rank_no', 'current_rank', 'birth_year', 'gender', 'current_age',
       'unit_description', 'star9', 'star6', 'star7', 'star4', 'first_name',
       'last_name_NS', 'first_name_NS', 'last_name', 'middle_initial',
       'middle_initial2', 'suffix_name'],
      dtype='object')

In [6]:
df[df['first_name'].isnull()]

,star2,star3,appointed_date,resignation_date,star8,current_status,star5,star10,race,star1,current_unit,rank_no,current_rank,birth_year,gender,current_age,unit_description,star9,star6,star7,star4,first_name,last_name_NS,first_name_NS,last_name,middle_initial,middle_initial2,suffix_name
32445,NaN,NaN,1994-05-02,NaN,NaN,1,NaN,NaN,WHITE,NaN,542.0,9161,POLICE OFFICER,1969.0,MALE,47.0,DETACHED SERVICES - GOVERMENT SECURITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J,NaN,NaN

In [7]:
po_df = df[df['first_name']=='POLICE']
po_df.shape

(649, 28)

In [8]:
df = df[df['first_name']!='POLICE']
df.shape

(31797, 28)

In [9]:
df[(df['first_name'].isin(df[df['appointed_date'].isnull()]['first_name'])) & 
   (df['last_name'].isin(df[df['appointed_date'].isnull()]['last_name']))]

,star2,star3,appointed_date,resignation_date,star8,current_status,star5,star10,race,star1,current_unit,rank_no,current_rank,birth_year,gender,current_age,unit_description,star9,star6,star7,star4,first_name,last_name_NS,first_name_NS,last_name,middle_initial,middle_initial2,suffix_name
3700,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,UNK,UNKNOWN,1950.0,FEMALE,67.0,NaN,NaN,NaN,NaN,NaN,ROSANNA,CALLAHAN,ROSANNA,CALLAHAN,NaN,NaN,NaN
10988,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,HISPANIC,NaN,NaN,UNK,UNKNOWN,1954.0,FEMALE,63.0,NaN,NaN,NaN,NaN,NaN,JAUNITA,GUILBEAUX,JAUNITA,GUILBEAUX,NaN,NaN,NaN
13247,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,UNK,UNKNOWN,1985.0,MALE,32.0,NaN,NaN,NaN,NaN,NaN,JEFFERY,JANG,JEFFERY,JANG,NaN,NaN,NaN
16565,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,HISPANIC,NaN,NaN,UNK,UNKNOWN,1957.0,FEMALE,59.0,NaN,NaN,NaN,NaN,NaN,REBECCA,LOPEZ,REBECCA,LOPEZ,NaN,NaN,NaN
25584,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,WHITE,NaN,112.0,9171,SERGEANT OF POLICE,NaN,FEMALE,NaN,BUREAU OF PROFESSIONAL STANDARDS,NaN,NaN,NaN,NaN,KELLY,RUPPEL,KELLY,RUPPEL,NaN,NaN,NaN
28312,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,WHITE,NaN,NaN,UNK,UNKNOWN,1960.0,FEMALE,57.0,NaN,NaN,NaN,NaN,NaN,SUE ELLEN,STRAPP,SUEELLEN,STRAPP,NaN,NaN,NaN

In [10]:
df[(df['first_name'].isin(df[df['birth_year'].isnull()]['first_name'])) & 
   (df['last_name'].isin(df[df['birth_year'].isnull()]['last_name']))]

,star2,star3,appointed_date,resignation_date,star8,current_status,star5,star10,race,star1,current_unit,rank_no,current_rank,birth_year,gender,current_age,unit_description,star9,star6,star7,star4,first_name,last_name_NS,first_name_NS,last_name,middle_initial,middle_initial2,suffix_name
21997,1670.0,167.0,1991-10-16,NaN,NaN,1,NaN,NaN,WHITE,37907.0,NaN,9161,POLICE OFFICER,NaN,MALE,NaN,NaN,NaN,NaN,NaN,NaN,GEORGE,OPLAWSKI,GEORGE,OPLAWSKI,A,NaN,NaN
25584,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,WHITE,NaN,112.0,9171,SERGEANT OF POLICE,NaN,FEMALE,NaN,BUREAU OF PROFESSIONAL STANDARDS,NaN,NaN,NaN,NaN,KELLY,RUPPEL,KELLY,RUPPEL,NaN,NaN,NaN

In [61]:
df[df['Middle.Initial2'].notnull()]

array(['R', 'G', 'M', 'J', 'P', 'W', 'S'], dtype=object)

In [12]:
id_cols =["first_name", "first_name_NS", "last_name", "last_name_NS", "appointed_date", "birth_year", "current_age"]
keep_duplicates(df, id_cols)[["first_name", "first_name_NS", "last_name", "last_name_NS","middle_initial", "middle_initial2", "suffix_name",
                              "appointed_date", "birth_year", "current_age", "current_rank", "resignation_date", "current_unit", "unit_description", "current_status", "star1", "star2"]]

,first_name,first_name_NS,last_name,last_name_NS,middle_initial,middle_initial2,suffix_name,appointed_date,birth_year,current_age,current_rank,resignation_date,current_unit,unit_description,current_status,star1,star2
13947,AUDREY,AUDREY,JURCZYKOWSKI,JURCZYKOWSKI,A,NaN,NaN,1999-05-10,1970.0,47.0,POLICE OFFICER,NaN,20.0,DISTRICT 020,1,8280.0,NaN
13948,AUDREY,AUDREY,JURCZYKOWSKI,JURCZYKOWSKI,NaN,NaN,NaN,1999-05-10,1970.0,47.0,POLICE OFFICER,NaN,NaN,NaN,0,NaN,NaN
30367,ERICK,ERICK,VON KONDRAT,VONKONDRAT,M,NaN,NaN,1999-05-10,1976.0,41.0,POLICE OFFICER,NaN,11.0,DISTRICT 011,1,9647.0,5693.0
30368,ERICK,ERICK,VON KONDRAT,VONKONDRAT,NaN,NaN,NaN,1999-05-10,1976.0,41.0,POLICE OFFICER,NaN,NaN,NaN,0,NaN,NaN
1807,JOEL,JOEL,BENTLEY,BENTLEY,A,NaN,NaN,1999-10-25,1976.0,40.0,POLICE OFFICER,NaN,312.0,GANG ENFORCEMENT - AREA SOUTH,1,13297.0,NaN
1808,JOEL,JOEL,BENTLEY,BENTLEY,A,NaN,NaN,1999-10-25,1976.0,40.0,POLICE OFFICER,NaN,NaN,NaN,0,NaN,NaN
25259,JORGE,JORGE,ROMO,ROMO,NaN,NaN,NaN,1999-06-21,1968.0,48.0,POLICE OFFICER,NaN,17.0,DISTRICT 017,1,11786.0,7838.0
25262,JORGE,JORGE,ROMO,ROMO,NaN,NaN,NaN,1999-06-21,1968.0,48.0,POLICE OFFICER,NaN,NaN,NaN,0,NaN,NaN
4386,JOSE,JOSE,CHAMBERS,CHAMBERS,A,NaN,NaN,2000-01-24,1972.0,44.0,POLICE OFFICER,NaN,2.0,DISTRICT 002,1,4955.0,NaN
4387,JOSE,JOSE,CHAMBERS,CHAMBERS,A,NaN,NaN,2000-01-24,1972.0,44.0,POLICE OFFICER,NaN,NaN,NaN,0,NaN,NaN
20185,STEPHEN,STEPHEN,MYTHEN,MYTHEN,C,NaN,NaN,2000-09-11,1962.0,54.0,POLICE OFFICER,NaN,18.0,DISTRICT 018,1,12719.0,NaN
20186,STEPHEN,STEPHEN,MYTHEN,MYTHEN,NaN,NaN,NaN,2000-09-11,1962.0,54.0,POLICE OFFICER,NaN,NaN,NaN,0,NaN,NaN
30016,THOMAS,THOMAS,VARGAS,VARGAS,NaN,NaN,NaN,2005-12-05,1981.0,35.0,POLICE OFFICER,NaN,606.0,CENTRAL INVESTIGATIONS DIVISION,1,10331.0,NaN
30021,THOMAS,THOMAS,VARGAS,VARGAS,NaN,NaN,NaN,2005-12-05,1981.0,35.0,POLICE OFFICER,NaN,44.0,RECRUIT TRAINING SECTION,0,NaN,NaN

In [73]:
id_cols =["Appointed.Date", "Birth.Year", "Current.Age", "Current.Unit", "Star1", "Rank"]
keep_duplicates(po_df, id_cols)[["First.Name", "First.Name_NS", "Last.Name", "Last.Name_NS","Middle.Initial", "Middle.Initial2", "Suffix.Name", "Appointed.Date", "Birth.Year", "Current.Age", "Rank", "Resignation.Date", "Current.Unit", "Unit.Description", "Current.Status", "Star1", "Star2"]]

,First.Name,First.Name_NS,Last.Name,Last.Name_NS,Middle.Initial,Middle.Initial2,Suffix.Name,Appointed.Date,Birth.Year,Current.Age,Rank,Resignation.Date,Current.Unit,Unit.Description,Current.Status,Star1,Star2
21701,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1994-05-02,1969.0,47.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21713,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1994-05-02,1969.0,47.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21330,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1994-08-01,1969.0,47.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21386,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1994-08-01,1969.0,47.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21261,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1995-10-23,1972.0,44.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21293,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1995-10-23,1972.0,44.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21584,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1999-03-08,1972.0,44.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21659,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1999-03-08,1972.0,44.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21226,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1999-06-21,1972.0,44.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21333,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,1999-06-21,1972.0,44.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21553,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2002-02-25,1978.0,38.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21721,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2002-02-25,1978.0,38.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21648,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2002-12-02,1980.0,36.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21845,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2002-12-02,1980.0,36.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21337,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2003-08-25,1972.0,44.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21401,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2003-08-25,1972.0,44.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21272,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2003-10-27,1979.0,37.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21372,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2003-10-27,1979.0,37.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21607,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2004-09-27,1979.0,37.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21637,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2004-09-27,1979.0,37.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21753,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2004-10-25,1973.0,43.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21756,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2004-10-25,1973.0,43.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21284,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2004-10-25,1981.0,35.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21402,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2004-10-25,1981.0,35.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21322,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-01-03,1971.0,45.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21326,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-01-03,1971.0,45.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21720,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-08-29,1981.0,35.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21726,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-08-29,1981.0,35.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21797,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-08-29,1981.0,35.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21234,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-10-31,1977.0,39.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21392,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-10-31,1977.0,39.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21596,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-12-05,1978.0,38.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21618,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2005-12-05,1978.0,38.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21757,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2006-07-31,1980.0,37.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21828,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2006-07-31,1980.0,37.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21371,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2008-04-28,1984.0,32.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21394,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2008-04-28,1984.0,32.0,POLICE OFFICER,NaN,193.0,GANG INVESTIGATION DIVISION,Y,NaN,NaN
21481,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2008-07-28,1983.0,33.0,POLICE OFFICER,NaN,191.0,INTELLIGENCE SECTION,Y,NaN,NaN
21483,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2008-07-28,1983.0,33.0,POLICE OFFICER,NaN,191.0,INTELLIGENCE SECTION,Y,NaN,NaN
21626,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2009-12-16,1984.0,32.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN
21775,POLICE,POLICE,OFFICER,OFFICER,NaN,NaN,NaN,2009-12-16,1984.0,32.0,POLICE OFFICER,NaN,189.0,NARCOTICS DIVISION,Y,NaN,NaN

In [74]:
df['Current.Status'].unique()

array(['Y', 'N'], dtype=object)